@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
  scroll-behavior: smooth;
}

:root {
  --base: 4rem;
}

body {
  height: 190vh;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll {
  height: calc(8 * var(--base));
  width: calc(12 * var(--base));
  background: linear-gradient(120deg, #ff8064, #725bdc);
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: var(--base);
  border-radius: calc(0.5 * var(--base));
  position: fixed;
  margin: calc(2 * var(--base)) calc(5 * var(--base)) calc(5 * var(--base))
    calc(5 * var(--base));
}

.scroll a {
  text-decoration: none;
  font-weight: 400;
  background-color: black;
  color: #fff;
  padding: calc(0.35 * var(--base)) calc(0.8 * var(--base));
  border-radius: calc(0.3 * var(--base));
  font-size: calc(0.4 * var(--base));
}

footer {
  width: 100%;
  height: 100vh;
  margin-top: 80vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  padding: 5rem 2vw;
  position: relative;
  z-index: 500;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgb(0, 0, 0)
  );
  z-index: -7;
}

.backdrop {
  z-index: -5;
  position: absolute;
  inset: 0;
  backdrop-filter: blur(80px);
  mask-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 1) 30%,
    rgb(0, 0, 0)
  );
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.col {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.2rem 3.2rem;
  gap: 10px;
}

.col1 h3 {
  font-weight: 500;
  font-size: 2.5rem;
}

.col2,
.col3 {
  background-color: #121212;
  border-radius: 20px;
}

.social {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.social .link {
  width: 3.2rem;
  height: 3.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
