@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #e8e8e8;

  form {
    width: 400px;
    background: #000000e6;
    color: #ffffff;
    font-family: "Montserrat";
    box-shadow: 0 15px 25px #00000099;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;

    h2 {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .user-box {
      position: relative;

      input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #ffffff;
        outline: none;

        &:focus ~ label {
          top: -50%;
          left: 0;
          font-size: 12px;
        }
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        pointer-events: none;
        transition: 0.5s;
      }
    }

    .submit {
      color: #ffffff;
      text-decoration: none;
      letter-spacing: 3px;
      margin-top: 40px;
      font-weight: bold;
      font-size: 16px;
      align-self: flex-start;
      padding: 10px 20px;
      overflow: hidden;
      position: relative;

      &:hover {
        background: #ffffff;
        color: #272727;
        border-radius: 5px;
      }

      span {
        position: absolute;
        display: block;

        &:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, #fff);
          animation: anim-1 1.5s linear infinite;
          @keyframes anim-1 {
            0% {
              left: -100%;
            }

            50%,
            100% {
              left: 100%;
            }
          }
        }

        &:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #fff);
          animation: anim-2 1.5s linear infinite;
          animation-delay: 0.375s;

          @keyframes anim-2 {
            0% {
              top: -100%;
            }

            50%,
            100% {
              top: 100%;
            }
          }
        }

        &:nth-child(3) {
          width: 100%;
          height: 2px;
          bottom: 0;
          right: -100%;
          background: linear-gradient(270deg, transparent, #fff);
          animation: anim-3 1.5s linear 0.75s infinite;

          @keyframes anim-3 {
            0% {
              right: -100%;
            }

            50%,
            100% {
              right: 100%;
            }
          }
        }

        &:nth-child(4) {
          width: 2px;
          height: 100%;
          bottom: -100%;
          left: 0;
          background: linear-gradient(360deg, transparent, #fff);
          animation: anim-4 1.5s linear 1.125s infinite;

          @keyframes anim-4 {
            0% {
              bottom: -100%;
            }

            50%,
            100% {
              bottom: 100%;
            }
          }
        }
      }
    }

    p {
      color: #aaa;
      font-size: 14px;

      a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
          background-color: transparent;
          color: #aaaaaa;
          border-radius: 5px;
        }
      }
    }
  }
}
